body{
    margin: 0;
    font-family: sans-serif;

}

header,footer,aside{
    display: block;
}

h1{
    color: white;
    text-align: center;
}

label{

    display: block; 
}

fieldset{
    border: 0px dotted red;
    width: 400px;
    margin: 0 auto;
}

input,select{
    width: 400px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;

}

select{
    line-height:30px;
    background:#f4f4f4;
}

button{
    font-size: 14px;
    padding: 5px;
    border-radius: 2px;
    background: #ff0033;
    color: #ffffff;
    float: right;
    width: 100px;
}

table{

    border-collapse: collapse;
    margin: 0 auto;
}

th{
    background: #ff9999;
}

th,td{
    border: 2px solid black;
    padding: 10px;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

.headerbar{
    width: 1000px;
    float: left;
}

.headerbar.top{
    background: #003333;
    min-height: 100px;

}

.headerbar.bottom{
    background: #333300;
    min-height: 60px;
}

.leftbar{
    width: 500px;
    background: #009999;
    min-height: 600px;
    float: left;
}

.rightbar{
    width: 480px;
    background: #ccccff;
    min-height: 580px;
    float: left;
    padding: 10px;

}
